.Searchengine {
  border: 1px solid grey;
  padding: 16px;
  border-radius: 6px;
  background: rgba(254, 245, 233);
}

.Searchengine h1 {
  color: grey;
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 29px;
}
.Searchengine ul {
  margin: 0;
  padding: 0;
}
.Searchengine li {
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 100;
}

.Searchengine .today-temp {
  font-weight: 400;
  font-size: 62px;
  line-height: 64px;
}
.Searchengine .units {
  color: rgb(23, 20, 20);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
  margin: 0;
}
